export OPENAI_API_KEY=''
export AWS_REGION=''
export AWS_ACCESS_KEY_ID=''
export AWS_SECRET_ACCESS_KEY=''
export SOLANA_RPC_URL=''
export WHITELIST_API_KEY=''
export OPENROUTER_API_KEY=''
export DD_API_KEY=''
export DD_APP_KEY=''
export DD_HOSTNAME=''

# Firebase config
export FIREBASE_PROJECT_ID=''
export FIREBASE_PRIVATE_KEY_ID=''
export FIREBASE_PRIVATE_KEY=''
export FIREBASE_CLIENT_EMAIL=''
export FIREBASE_CLIENT_ID=''
export FIREBASE_CLIENT_X509_CERT_URL=''

# To skip firebase token authentication on endpoints. DO NOT ENABLE IN PRODUCTION.
export SKIP_FIREBASE_TOKEN_AUTH=false